<ActionBar title="notifR">
	<ActionItem (tap)="this.toggle()">
		<!-- example: using font-awesome for hamburger menu but you can use whatever you'd like -->
		<Button class="fa" [text]="'fa-bars' | fonticon"></Button>
		<!-- however in your project, would be easier to use this plugin: https://github.com/NathanWalker/nativescript-fonticon -->
	</ActionItem>
</ActionBar>

<RadSideDrawer #drawer [transition]="sideDrawerTransition" selectionBehavior="None">
	<StackLayout tkDrawerContent cssClass="navigation-sidebar">
		<Image src="~/resources/bell.png"></Image>
		<!-- anything you want in drawer -->
		<!-- for example: -->
		<!-- you want options {exact: true} on the first one because otherwise it would be considered active when 'Other Page' in active as well -->
		<Button text="Home" [nsRouterLink]="['/navigation']" nsRouterLinkActive="active" [nsRouterLinkActiveOptions]="{exact:true}"></Button>
		<Button text="Benachrichtigungen" [nsRouterLink]="['/navigation/home']" nsRouterLinkActive="active"></Button>
		<Button text="Meine Topics" [nsRouterLink]="['/navigation/otherPath']" nsRouterLinkActive="active"></Button>
		<Button text="Über notifR" [nsRouterLink]="['/navigation/otherPath']" nsRouterLinkActive="active"></Button>
	</StackLayout>

	<StackLayout tkMainContent>
		<router-outlet></router-outlet>
	</StackLayout>
</RadSideDrawer>