/*
In NativeScript, the app.css file is where you place CSS rules that
you would like to apply to your entire application. Check out
http://docs.nativescript.org/ui/styling for a full list of the CSS
selectors and properties you can use to style UI components.

/*
In many cases you may want to use the NativeScript core theme instead
of writing your own CSS rules. For a full list of class names in the theme
refer to http://docs.nativescript.org/ui/theme.
*/
@import 'nativescript-theme-core/css/core.light.css';

ActionBar {
    background-color: #5F619C;
    color: #FFEABE;
}

.fa {
    font-family: FontAwesome, fontawesome-webfont;
}

.navigation-sidebar {
    background-color: #5F619C;
    color: #B9D2ED;
    padding-top: 18px;
}

.navigation-sidebar Button {
    color: #FFEABE;
    font-size: 22px;
    text-align: left;

    margin-left: 25px;
    margin-top: 4px;
    margin-bottom: 0px;
}

.navigation-sidebar Image {
    width: 100px;
    text-align: left;
    margin-bottom: 30px;
    margin-top: 30px;
}

.page Label {
    color: #4A4A4A;
}

.home {
    margin-top: 20px;
}

.home .title {
    text-align: center;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.home .instruction {
    text-align: center;
    margin-bottom: 30px;
}

.home .buttons {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 50px;
}

.home .buttons Button {
    border-radius: 5px;
    font-size: 75px;
    background-color: #5F619C;
    color: #FFEABE;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
}

.home .buttons .football {
    background-color: #27ae60;
}

.home .buttons .weather {
    background-color: #f39c12;
}

.home .buttons .music {
    background-color: #2980b9;
}

.home .buttons .tv {
    background-color: #c0392b;
}