<StackLayout cssClass="home page">
	<Label cssClass="title" text="Willkommen bei notifR!"></Label>
	<Label cssClass="instruction" text="Wähle aus worüber ich dich auf dem Laufenden halten soll." [textWrap]="true"></Label>

	<GridLayout columns="1*, 1*" rows="1*, 1*" cssClass="buttons">
		<Button class="fa football" [text]="'fa-futbol-o' | fonticon" col="0"></Button>
		<Button class="fa weather" [text]="'fa-sun-o' | fonticon" col="1"></Button>
		// by default column and row are set to 0
		<Button class="fa music" [text]="'fa-music' | fonticon" col="0" row="1"></Button>
		<Button class="fa tv" [text]="'fa-television' | fonticon" col="1" row="1"></Button>
	</GridLayout>
</StackLayout>

