<StackLayout class="page">
    <ListView [items]="items" class="list-group">
        <template let-item="item">
            <Label nsRouterLink="/home" [text]="item.name"
                   class="list-group-item"></Label>
        </template>
    </ListView>
</StackLayout>

